<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1 class="" >X - pert pacoly</h1>
        </section>
        <section class="content container-fluid">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th >Debe</th>
                      <th >Haber</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <!--<td (click)="planClick(1)"> <a href="#" data-toggle="control-sidebar"> <i class="fa fa-plus-square" aria-hidden="true"></i> <span> Activo </span> </a> </td>-->
                      <td (click)="planClick(1)"> <a href="#" > <i class="fa fa-plus-square" aria-hidden="true"></i> <span (click)="hola('Debe')"> Activo  </span> </a> </td>
                      <td (click)="planClick(2)"> <a href="#"> <i class="fa fa-plus-square"></i> <span (click)="hola('Haber')"> Pasivo </span> </a> </td>
                      <td></td>
                      <td></td>
                    </tr>

                    <tr>
                      <td (click)="planClick(5)"> <a href="#" > <i class="fa fa-plus-square" aria-hidden="true"></i> <span (click)="hola('Debe')"> Gastos </span> </a>  </td>
                      <td (click)="planClick(3)"> <a href="#"> <i class="fa fa-plus-square"></i> <span (click)="hola('Haber')"> Capital </span> </a> </td>
                      <td></td>
                      <td></td>
                    </tr>

                    <tr>
                      <td (click)="planClick(2)">  <a href="#" > <i class="fa fa-minus-square" aria-hidden="true"></i> <span (click)="hola('Debe')"> Pasivo </span>  </a>  </td>
                      <td (click)="planClick(4)">  <a href="#"> <i class="fa fa-plus-square"></i> <span (click)="hola('Haber')"> Ingresos </span> </a>  </td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td (click)="planClick(3)"> <a href="#" > <i class="fa fa-minus-square" aria-hidden="true"></i> <span (click)="hola('Debe')"> Capital </span> </a> </td>
                      <td (click)="planClick(1)"> <a href="#"> <i class="fa fa-minus-square"></i> <span (click)="hola('Haber')"> Activo </span> </a> </td>
                      <td></td>
                      <td></td>
                    </tr>

                    <tr>
                      <td (click)="planClick(4)"> <a href="#" > <i class="fa fa-minus-square" aria-hidden="true"></i>  <span (click)="hola('Debe')"> Ingresos </span> </a> </td>
                      <td (click)="planClick(5)"> <a href="#"> <i class="fa fa-minus-square"></i> <span (click)="hola('Haber')"> Gastos </span> </a> </td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
              </table>
            </div>

            <div class="col-md-4" >
              <div class="">
                  <h3> Cuentas  <span id ="titulo"></span>  </h3>
                  <table class="table table-striped table-hover table-bordered" id="serie">
                    <thead class="thead-dark">
                      
                      <tr>
                        <td>Cuenta</td>
                        <td>Descripcion</td>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      
                        <tr *ngFor="let pla of selectedplan">
                          
                          <td class="ccod_cue"><span (click)="clickeado(pla.ccod_cue + pla.cdsc)" > {{pla.ccod_cue}} </span> </td>
                          <td class="cdsc"><span (click)="clickeado(pla.ccod_cue + pla.cdsc)" > {{pla.cdsc}} </span> </td>
                          <td></td>
                        </tr>
                      
                    </tbody>
                  </table>
                </div>
            </div>

            <div class="col-md-7" >

              <h2>Operaciones</h2>

              <table class="table" id="verdatos">
                <thead>
                  <tr>
                    <td colspan=2 >Debe</td>
                    <td colspan=2 >Haber</td>
                  </tr>  
                </thead>
                <tbody>
                  <tr>
                    <td>Cuenta</td>
                    <td>Descripcion</td>
                    <td>Cuenta</td>
                    <td>Descripcion</td>
                  </tr>

                  <tr>
                    <td class="Dcuenta">{{cuentaDebe}} </td>
                    <td class="Ddes"> {{desDeba}} </td>
                    <td class="Hcuenta"> {{cuentaHaber}} </td>
                    <td class="Ddes"> {{desHaber}} </td>
                  </tr>

                </tbody>
                </table>

                <div class="form-group">
                  <label for="exampleInputEmail1">Reconocimineto</label>
                  <input type="text" [(ngModel)]="libroDiarioDebe.cglosa" class="form-control" placeholder="Ingrese Operacion" name="{{glosa}}">
                  <small id="emailHelp" class="form-text text-muted">Ingrese el nombre con el cual se guardara la operacion</small>
                </div>
                
                <div class="form-group">
                  <label for="exampleInputPassword1">Medicion</label>
                  <input type="text" [(ngModel)]="libroDiarioDebe.ndebe" class="form-control" id="exampleInputPassword1" placeholder="monto">
                  <small id="emailHelp" class="form-text text-muted">Ingrese el monto de la operacion</small>
                </div>
                
                <button class="btn btn-primary" (click)='createLibroDiario()'>Agregar</button>

                <br/>
              
            </div>

          </div>
            
        </section>

      </div>
